html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	/*outline: solid 1px;*/
}
a {
	text-decoration: none;
	display: inline-block;
}
img {
	vertical-align: middle;
}
body {
	font-family: "Noto Sans TC", "Roboto", sans-serif;
	line-height: 1.5;
}
/*設定*/
.container {
	max-width: 1296px;
	margin: 0 auto;
}
.d-flex {
	display: flex;
}
.fxw-w {
	flex-wrap: wrap;
}
.jc-sb {
	justify-content: space-between;
}
.jc-c {
	justify-content: center;
}
.ai-c {
	align-items: center;
}
.mr-1 {
	margin-right: 8px;
}
.mr-2 {
	margin-right: 16px;
}
.mr-3 {
	margin-right: 24px;
}
.mr-4 {
	margin-right: 32px;
}
.mr-6 {
	margin-right: 48px;
}
.mr-8 {
	margin-right: 64px;
}
.mb-1 {
	margin-bottom: 8px;
}
.mb-3 {
	margin-bottom: 24px;
}
.mb-4 {
	margin-bottom: 32px;
}
.mb-5 {
	margin-bottom: 40px;
}
.mb-10 {
	margin-bottom: 80px;
}
.mt-7 {
	margin-top: 60px;
}
.w23 {
	width: 23.6%;
}
.w50 {
	width: 50%;
}
.p-150 {
	padding: 24px 150px;
}
.p-110 {
	padding: 24px 110px;
}
.h2 {
	font-size: 42px;
	color: #000;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
}
.h3 {
	font-size: 32px;
	color: #000;
}
.fs-1 {
	font-family: "Roboto", sans-serif;
	font-size: 24px;
}
.fw-500 {
	font-weight: 500;
}
.red {
	color: #aa0601;
}

.nav {
	background: #aa0601;
	color: #fff;
}
.nav-menu img {
	width: 80px;
	padding: 12px 0;
}
.menu {
	padding: 25px 0;
	font-size: 20px;
	color: #fff;
}
.title-list {
	font-size: 32px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	color: #000;
	border: 1px solid #dcdcdc;
}
.title-list:hover {
	border-bottom: 8px solid #aa0601;
}
.banner .bg1 {
	background-image: url(./img/product-header-1.png);
	background-size: cover;
	background-position: center center;
	height: 296px;
}
.banner .bg2 {
	background-image: url(./img/product-header-2.png);
	background-size: cover;
	background-position: center center;
	height: 296px;
}
.content-title {
	text-align: center;
}
.card img {
	width: 306px;
}
.block {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background: #5f3e2d;
}
.block2 {
	width: 24px;
	height: 24px;
	border-radius: 4px;
	background: #b75929;
}
.page ul li {
	border: 1px solid #555555;
}
.page-btn {
	padding: 11px 12px;
	font-size: 19px;
	font-family: "Roboto", sans-serif;
	color: #555555;
}
.page-btn:hover {
	color: #555555;
	background: #f2f2f2;
}
.page-num {
	padding: 12px 16px;
	font-size: 18px;
	color: #555555;
}
.page-num:hover {
	color: #fff;
	background: #000;
}
.footer {
	background: #aa0601;
}
.footer-menu li a {
	color: #fff;
}
.ic-social {
	width: 48px;
	height: 48px;
}
.contact p {
	font-size: 36px;
	color: #fff;
}
.material-symbols-outlined {
	font-size: 36px;
}
.footer-copyright {
	padding: 32px 0;
	color: #fff;
}

@media (max-width: 767px) {
	.container {
		max-width: 696px;
	}

	.md-mb-5 {
		margin-bottom: 40px;
	}
	.md-p-16 {
		padding: 16px 48px 16px 49px;
	}
	.md-w48 {
		width: 48%;
	}

	.title-list {
		font-size: 24px;
	}
	.card img {
		width: 336px;
	}
}
